
.logo {
  height: 64px;
  line-height: 64px;
  padding-left: 24px;
  overflow: hidden;
  background: #002140;
  transition: all 0.3s;
  img{
    height: 32px;
    vertical-align: middle;
    display: inline-block;
  }
  h1{
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 0 12px;
    
  }
}

